    body {
            font-family: arial, sans-serif;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;}
        header {
            background: rgb(210, 212, 55);
            color: white;
            text-align: center;
            padding: 1rem 0;}
        nav {
            background: #5b5e34;
            padding: 0.9rem; }
        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;}
        nav li {
            margin: 0 15px;}
        nav a {
            color: white;
            text-decoration: none;}
        nav a:hover {
            text-decoration: underline;}
        .container {
            width: 80%;
            margin: 20px auto;}
        section {
            margin-bottom: 40px;
            padding: 20px;
            background: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);}
        h1, h2 {
            color: #768021;}
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 15px auto;
            border-radius: 5px;}
        footer {
            text-align: center;
            padding: 1rem;
            background: #768021;
            color: white;
            margin-top: 40px;}